/* google font linking */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

a.navbar-brand {
    color: #3E3E3E;
}

a.nav-link {
    color: #3E3E3E;
}

.hide-btn{
    display: none;
}
.toast:not(.show) {
    display: grid;
}

.badge-part {
    position: absolute;
    top: 1299px;
    z-index: 2;
    left: 65%;
}

@media only screen and (max-width: 576px) {
    .carousel-item{
        height: 100vh;
    }
    .carousel-item img{
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    .row{
        flex-direction: column-reverse;
    }
    span.d-flex.hide {
        justify-content: space-around;
    }
    .hide-btn{
        display: inline;
    }
    .weeding-btn{
        display: none;
    }
    .package-part .row,
    .client-part .row,
    .question-part .row{
        flex-direction: column;
    }
    footer{
        text-align: center;
    }
    .badge-part {
        top: 2754px;
        left: 82%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .badge-part {
        top: 2474px;
        left: 76%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .badge-part {
        top: 1562px;
        left: 39%;
    }
}